<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamens</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
<div>
  <h2>Geef inhaal examen in</h2>
  <br/><br/>
  <form action='/add' method='POST'>
   <table>
     <tr><td>Naam student: </td><td><input type='text' name='naam'></td></tr>
     <tr><td>Examen: </td><td><input type='text' name='examen'></td></tr>
     <tr><td>Reden: </td><td><input type='text' name='reden' size=100></td></tr>
     <tr><td><button type='submit'>voeg toe</button></td></tr>
   </table>
  </form>

  <form action='/search' method='get'>
    <button type="submit">zoeken</button>
  </form>
</div>
</body>
</html>
