<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Examen reeds ingegeven</h2>
  <form action='/' method='get'>
    <button type="submit">home</button>
  </form></body>
</html>
