<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>

  <h2>Zoek student op naam</h2>
  <br/><br/>
  <form action='/search' method='POST'>
    <span><b>Naam : </b><input type='text' name='naam'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
