<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Result</h2>
  <ul>
    <% for(var i=0; i < examens.length; i++) {%>
      <li>
        <span><b>Naam : </b><%= examens[i].naam %></span><br />
        <span><b>Examen : </b><%= examens[i].examen %></span><br />
        <span><b>Reden : </b><%= examens[i].reden %></span><br />
        <span><b>Datum : </b><%= examens[i].datum %></span><br />
      </li>
    <% } %>
    </ul>

  <form action='/' method='get'>
    <button type="submit">home</button>
  </form>
</body>
</html>
